#header{
}

.thumbnail{
padding:0px;
}

.image-header{
height: 170px;
overflow: hidden;
background-color: #000;
}

#arrows{
position: absolute;
width: 20px;
height: 20px;
top: 10%;
left: 10%;
z-index: 1000;
color: white;
font-size: 30px;
}

body {
padding-bottom: 70px;
}

#submitbutton{
margin-top: 7px;
}

#splash{
}